header {
	@include make-col(12);
	margin-bottom: 2em;
}
.module-container {
	@include make-row();
	flex-direction: row-reverse;
}
.box {
	background-color: $gray-lighter;
	border: solid 1px $gray-dark;
	padding: 20px;
}

