header {
	@include make-col(12);
	margin-bottom: 2em;
}

.module-container {
	@include make-row();
	flex-direction: row;
}

.box {
	border: solid 1px $gray-dark;
	padding: 20px;
	@include border-radius(10px);
}

