body {
	position: relative;
}

header {
	//Set div to 12 columns
	@include make-xs-column(12);
	
	background-color: green;
	
	// Target small Brealpoint
	@media (min-width: $screen-sm) {
		background-color: blue;
	} 
	
	// Target medium Brealpoint
	@media (min-width: $screen-md) {
		background-color: orange;
	}

	
	// Target large Brealpoint
	@media (min-width: $screen-lg) {
		background-color: red;
	} 
}